/* Reset some basic styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }

  form[role="search"] {
    flex-direction: column;
    align-items: stretch;
  }

  form[role="search"] input {
    margin-bottom: 0.5rem;
    border-radius: 30px;
  }

  form[role="search"] button {
    border-radius: 30px;
  }
}

/* Footer */
footer {
  font-size: 0.9rem;
}

footer i {
  font-size: 1.2rem;
}
